* {
    box-sizing: border-box;
}

/* @font-face {
    font-family: Norse-Bold;
    src: url(/font/Norse-Bold.otf);
} */

body {
    background-color: rgba(0, 0, 0, .6);
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 60vh; */
}

#form_leftside {
    background-color: red;
    /* height: auto; */
    position: relative;
    /* width: 30vw; */
    width: clamp(250px, 30vw, 15vw);
    /* width: max(30vw,300px); */
    background-image: url("image/leaves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-self: stretch;
}

#pic_banner {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    gap: 5px;
    font-size: 2rem;
    color: white;
    font-family: Norse-Bold;
}

#credit {
    color: lightgray;
    font-size: .6rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

#form_rightside {
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 250, 251);
    /* height: auto; */
    width: 40%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#form_rightside--header {
    margin-top: 8%;
    margin-bottom: 10%;
    padding-inline: 40px;
    font-size: .8rem;
    font-weight: bold;
}

#form_title {
    padding-block: 15px;
    margin: 0;
}

#form_rightside--form {
    background-color: white;
    box-shadow: rgb(0 0 0 / 35%) 0px 0px 15px;
    padding-inline: 40px;
}

#form_rightside--form>form {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

.form-input--row {
    display: flex;
    padding-block: 2%;
}

.form-input--row>div>input {
    width: 80%;
}

.form-input--row>div:first-child>input {
    margin-right: 3rem;
}

/* div:first-child>input {
    margin-right: 3rem;
} */

label {
    font-size: .5rem;
    letter-spacing: 1.5px;
    font-weight: bolder;
    display: block;
}

.text-column--account {
    margin-inline: 40px;
    margin-top: 25px;
}

.text-column--account>button {
    padding-inline: 40px;
    padding-block: 10px;
    font-size: .7rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    background-color: #596D48;
    color: white;
}

.text-column--account>p {
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 20%;
}

@media only screen and (max-width: 319px) {
    #pic_banner {
        margin-top: 100% !important;
        margin-bottom: 30% !important;
    }

    .text-column--account>button {
        font-size: 12px;
    }

    .text-column--account>p {
        font-size: 10px;
    }

    #pic_banner {
        margin-top: 20%;
        margin-bottom: 20%;
        /* height: 40vh; */
    }

    #form-container {
        flex-direction: column;
        padding: 5px;
    }

    #form_leftside {
        width: 100%;
        align-self: center;
    }

    #form_title {
        text-align: center;
    }

    label {
        text-align: left;
    }

    .form-input--row>div>input {
        width: 100% !important;
        margin-bottom: 8%;
    }

    #form_rightside {
        width: 100%;
    }

    #form_rightside--header {
        font-size: .6rem;
        padding-inline: 3%;
    }

    #form_rightside--form {
        padding-inline: 3%;
    }

    .form-input--row {
        flex-direction: column;
        align-items: center;
        padding-block: 0;
        text-align: center;
    }

    .text-column--account {
        text-align: center;
    }
}

@media only screen and (min-width: 320px) {
    #pic_banner {
        margin-top: 60% !important;
        margin-bottom: 30% !important;
    }

    .text-column--account>button {
        font-size: .6rem;
    }

    .text-column--account>p {
        font-size: .6rem;
    }

    #pic_banner {
        margin-top: 20%;
        margin-bottom: 20%;
    }

    #form-container {
        flex-direction: column;
        padding: 5px;
    }

    #form_leftside {
        width: 100%;
        align-self: center;
    }

    #form_title {
        text-align: center;
    }

    label {
        text-align: left;
    }

    .form-input--row>div>input {
        width: 100% !important;
        margin-bottom: 8%;
    }

    #form_rightside {
        width: 100%;
    }

    #form_rightside--header {
        font-size: .6rem;
        padding-inline: 3%;
    }

    #form_rightside--form {
        padding-inline: 3%;
    }

    .form-input--row {
        flex-direction: column;
        align-items: center;
        padding-block: 0;
        text-align: center;
    }

    .text-column--account {
        text-align: center;
    }

}

@media only screen and (min-width: 425px) {
    .text-column--account>button {
        font-size: .7rem;
    }

    .text-column--account>p {
        font-size: .7rem;
    }

    .form-input--row {
        justify-content: center;
    }

    .form-input--row>div>input {
        width: 12rem !important;
        margin-bottom: 8%;
    }
}

/* @media only screen and (min-width: 320px) {
    #pic_banner {
        margin-top: 40% !important;
    }

    .text-column--account>button {
        font-size: .6rem;
    }

    .text-column--account>p {
        font-size: .6rem;
    }

    #pic_banner {
        margin-top: 20%;
        margin-bottom: 20%;
    }

    #form-container {
        flex-direction: column;
        padding: 5px;
    }

    #form_leftside {
        width: 100%;
        align-self: center;
    }

    #form_title {
        text-align: center;
    }

    label {
        text-align: left;
    }

    .form-input--row>div>input {
        width: 100% !important;
        margin-bottom: 8%;
    }

    #form_rightside {
        width: 100%;
    }

    #form_rightside--header {
        font-size: .6rem;
        padding-inline: 3%;
    }

    #form_rightside--form {
        padding-inline: 3%;
    }

    .form-input--row {
        flex-direction: column;
        align-items: center;
        padding-block: 0;
        text-align: center;
    }

    .text-column--account {
        text-align: center;
    }

} */

@media only screen and (max-width: 900px) {
    .form-input--row>div>input {
        width: 90%;
    }

    .form-input--row>div:first-child>input {
        margin-right: 0;
    }

    .form-input--row>div>label {
        font-size: .4rem;
    }
}